django==4.0.4
Faker==13.7.0
django-extensions==3.1.5
Werkzeug==2.1.2
django-password-validators==1.7.0
pwned-passwords-django==1.5
django-axes==5.32.0
django-sslserver==0.22
lxml==4.8.0
pyOpenSSL==22.0.0
